{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:o1js/recommended",
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "root": true,
  "parserOptions": {
    "project": ["./tsconfig.json", "./tsconfig.test.json"]
  },
  "ignorePatterns": ["jest.config.cjs", "jest-stackblitz.config.cjs", "docs/*"],
  "rules": {
    "@typescript-eslint/quotes": [
      "error",
      "single",
      {
        "allowTemplateLiterals": true
      }
    ],
    "@typescript-eslint/parameter-properties": [
      "error",
      {
        "allow": ["public"]
      }
    ],
    "@typescript-eslint/consistent-indexed-object-style": "off"

  }
}
